<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>216032121133-m2o1j2s8nu6jpsnrtjapc97e2q0dppd8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.216032121133-m2o1j2s8nu6jpsnrtjapc97e2q0dppd8</string>
	<key>API_KEY</key>
	<string>AIzaSyCqwoAmA6NWdvGnpBKzm1hCFRjwzWPI-Tc</string>
	<key>GCM_SENDER_ID</key>
	<string>216032121133</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ShafeeTest.CatchDesignTest</string>
	<key>PROJECT_ID</key>
	<string>catchdesigntest-d309b</string>
	<key>STORAGE_BUCKET</key>
	<string>catchdesigntest-d309b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:216032121133:ios:f6e44d3b76b3b5f4ff03a4</string>
</dict>
</plist>